<!--<ng-signature-pad-->
<!--  doneButtonText="Show Image"-->
<!--  format="base64"-->
<!--  (done)="showImage($event)">-->
<!--</ng-signature-pad>-->


<!--<img [src]="signatureImage" *ngIf="signatureImage" />-->
<div class="container-fluid">
  <div class="row">
    <div class="col-md-pad-body">
      <div id="signature-pad" class="m-signature-pad">
        <div   class="m-signature-pad-body">
          <signature-pad [options]="signaturePadOptions" id="sp" #sp ></signature-pad>
        </div>
      </div>
    </div>
    <div class="text-left">
      <button class="btn-btn-primary" (click)="drawComplete()">Save</button>
      <button class="btn-btn-danger" (click)="sp.clear()">Clear</button>

    </div>
  </div>
</div>
